<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996924395909-b617g4tubvadavt0fs7pttou61d1qlmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996924395909-b617g4tubvadavt0fs7pttou61d1qlmm</string>
	<key>API_KEY</key>
	<string>AIzaSyC-TU_API_KEY_AQUI</string>
	<key>GCM_SENDER_ID</key>
	<string>996924395909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliproject</string>
	<key>PROJECT_ID</key>
	<string>appsheet-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>appsheet-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996924395909:ios:b617g4tubvadavt0fs7pttou61d1qlmm</string>
	<key>DATABASE_URL</key>
	<string>https://appsheet-react-native.firebaseio.com</string>
</dict>
</plist>