rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura/escritura a usuarios autenticados
    match /incident_reports/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Permitir a los usuarios leer/escribir sus propios documentos
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}